####################################
# Node / Express
####################################
serveurExpress/node_modules/
serveurExpress/.env

####################################
# Logs
####################################
*.log
npm-debug.log*
yarn-error.log*

####################################
# Build / cache
####################################
dist/
build/
coverage/
.cache/

####################################
# IDE / OS
####################################
.vscode/
.idea/
.DS_Store
Thumbs.db
